PORT=5000

# Database (MariaDB/MySQL)
DB_NAME=nodues_db
DB_USER=root
DB_PASS=yourpassword
DB_HOST=localhost
DB_DIALECT=mysql

# JWT
JWT_SECRET=change_this_to_a_very_long_random_secret_string_123

# Email (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourcollege@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM=NoDues Portal <yourcollege@gmail.com>

# College Info (appears on certificate)
COLLEGE_NAME=Rashtrakavi Ramdhari Singh Dinkar College of Engineering
COLLEGE_SHORT=RRSDCE

NODE_ENV=development
